.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.navbar-left {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.navbar-right {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.dashboard-button,
.navbar-button {
  padding: 10px 15px;
  background-color: #007bff; /* Blue color */
  color: white;
  border: none;
  cursor: pointer;
}

.navbar-button {
  margin-right: 100px;
}

.dashboard-button:hover,
.navbar-button:hover {
  background-color: #0056b3; /* Darker shade of blue */
}

/* Style for the language selector */
.language-selector {
  margin-left: 20px;
}

.dropdown {
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  background-color: green; /* Set dropdown button to green */
  border: 1px solid #ccc;
  color: black; /* Set the text color of the dropdown to black */
}

.dropdown:hover {
  background-color: #4caf50; /* Darker green when hovered */
}

.dropdown option {
  color: black; /* Ensure text in options is black */
}
